<launch>
  <!-- DS4 driver -->
  <node pkg="omni_teleop" type="ds4driver.sh" name="ds4driver" output="screen"/>

  <!-- Read input and publish joy messages -->
  <node pkg="joy" type="joy_node" name="ps3_joy" output="screen" >
    <param name="dev" type="string" value="/dev/input/js1" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="20" />
    <param name="coalesce_interval" value="0.01" />
  </node>
  
  <-- Read joy messages and publish twist messages
  <node pkg="omni_teleop" type="omni_joy" name="teleop_joystick" />
  <!-- TODO: set parameters of axes, and potentially remap topics -->

</launch>
